*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: yellowgreen;
    color: #fff;
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #070707;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    font-size: 500;
    font-size: 45px;
}
.container h1 span{
    color: #177449;
    border-bottom: 7px;
    padding-bottom: 7px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    height: 50px;
    border: 0;
    outline: 0;
    font-size: 24px;
    background: rgb(189, 241, 165);

    
}
.container button img{
    width: 20px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background:  #177449;
    color: whitesmoke;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}
